{% extends "base.html" %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bubbles.css') }}">
{% endblock %}
{% block head_js %}
<script type="text/javascript">
    var libTranslations={{ language_values|tojson }};
    var domainsSelected = {};
    var domainsValues = [];
    var domainsDict = {};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sigma.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sigma.fa2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sigma.filter.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/messages.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bubblesPanel.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bubbles.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(e)
    {
        // Load UX
        showLoadingDomains();

        // Load Domains
        d3.json('/endpoint/domains', function(e)
        {
            hideLoading(function()
            {
                if (e === null)
                    showErrorMessage(1);
                else if (e.length == 0)
                    showErrorMessage(0);
                else showCircles(e);
            });
        });
    });
</script>
{% endblock %}
{% block app_language %}{{ app_lang }}{% endblock %}
{% block content %}
{% endblock %}