{% extends "base.html" %}
{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loading.css') }}">
{% endblock %}
{% block app_language %}{{ app_lang }}{% endblock %}
{% block content %}
    <div id="loading-container">
        <ul class="loading-books">
            <li class="loading-book first"></li>
            <li class="loading-book second"></li>
            <li class="loading-book third"></li>
            <li class="loading-book fourth"></li>
            <li class="loading-book fifth"></li>
            <li class="loading-book sixth"></li>
        </ul>
        <p>Cargando dominios</p>
    </div>
{% endblock %}